# Python virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# CSV files
*.csv

# Data directory
data/

# VSCode settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
